# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
USB-BLDC-TOOL

# nodejs
node_modules
build
npm-debug.log
.env
.DS_Store

# Build/Distribution
dist/

# IntelliJ
.idea/

# Yarn
*.lock